<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Tu hotel de confianza {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reservations.css') }}">
</head>

<body>
    <div class="page-wrapper">
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <!-- Logo -->
            <a href="{{ url_for('home.home') }}" class="navbar-brand">
                <img src="{{ url_for('static', filename='images/phx.jpg') }}" alt="Logo" class="logo">
                <span class="brand-name">Tu Hotel Favorito</span>
            </a>

            <!-- Barra de búsqueda -->
            <div class="search-bar">
                <input type="text" placeholder="¿A dónde vas?" class="search-input">
                <button class="search-button">
                    <img src="{{ url_for('static', filename='images/lupa.png') }}" alt="Buscar">
                </button>
            </div>

            <!-- Menú de usuario -->
            <div class="user-menu">
                <button class="menu-toggle">
                    <div class="hamburger"></div>
                </button>
                <div class="user-avatar">
                    {% if user and user['image_url'] %}
                        <img src="{{ url_for('static', filename='images/prueba_hotel.jpg') }}" alt="Foto de perfil">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="Foto de perfil">
                    {% endif %}
                </div>
                <div class="dropdown-menu">
                    <div class="user-info">
                        {% if user %}
                        <p class="user-name">{{ user['name'] }}</p>
                        <p class="user-email">{{ user['mail'] }}</p>
                        {% else %}
                        <p class="user-name">Usuario no identificado</p>
                        <p class="user-email">Correo no disponible</p>
                        {% endif %}
                    </div>
                    <ul>
                        <li><a href="{{ url_for('reservations.reservations') }}">Reservas</a></li>
                        <li><a href="{{ url_for('profile.profile') }}">Perfil</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

        <!-- Contenido Principal -->
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer con Chatbox -->
        <footer>
            <!-- Chatbox -->
            <div class="chatbox">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="static/images/robot.png" alt="image">
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">Tu soporte hotel</h4>
                            <p class="chatbox__description--header">Hola, soy Andrei. ¿Cómo puedo ayudarte?</p>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Escribe un mensaje...">
                        <button class="chatbox__send--footer send__button">Enviar</button>
                    </div>
                </div>
                <div class="chatbox__button">
                    <button><img src="{{ url_for('static', filename='images/chat_icon2.png') }}" alt="Chat"></button>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/change_theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/open_close_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>
