<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <title>{% block title %} Tu hotel de confianza {% endblock %}</title>
</head>
<body>
    <nav class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="static/images/phx.jpg" alt="Logo" class="logo">
            <span class="brand-name">Tu Hotel Favorito</span>
        </a>
        <ul class="nav-links">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="user-menu">
            <div class="user-avatar" id="user-avatar">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="User">
            </div>
            <div class="dropdown-menu" id="dropdown-menu">
                {% if user %}
                <div class="user-info">
                    <span class="user-name">{{ user['name'] }}</span>
                    <span class="user-email">{{ user['mail'] }}</span>
                </div>
                {% else %}
                    <div class="user-info">
                        <span class="user-name">Usuario no identificado</span>
                        <span class="user-email">Correo no disponible</span>
                    </div>
                {% endif %}
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="{{ url_for('profile.profile') }}">Profile</a></li>
                    <li><a href="#" id="toggle-theme">Toggle Theme</a></li>
                    <li><a href="{{ url_for('login.login') }}">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Your support hotel</h4>
                    <p class="chatbox__description--header">Hi. My name is Andrei. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='') }}" /></button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/open_close_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>