{% extends "base.html" %}

{% block head_includes %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-grid">
        {% for hotel in hotels %}
        <div class="card-hotel">
            <div class="card-hotel-image">
                <img src="static/images/prueba_hotel.jpg" alt="{{ hotel['nombre'] }}">
            </div>
            <div class="card-hotel-content">
                <h2>{{ hotel['nombre'] }}</h2>
                <p class="location">{{ hotel['direccion'] }}, {{ hotel['ciudad'] }}, {{ hotel['pais'] }}</p>
                <p class="rating">⭐⭐⭐⭐⭐ {{ hotel['valoracion'] }} ({{ hotel['reseñas'] }})</p>
                <p class="price"><strong>{{ hotel['precio'] }}€</strong> por noche</p>
                <button class="card-btn">Ver más</button>
            </div>
        </div>
        {% else %}
        <p>No hay hoteles disponibles.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
