{% extends "base.html" %}

{% block head_includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reservations.css') }}">
{% endblock %}

{% block title %}Reservas{% endblock %}

{% block content %}
{% if reservas %}
    {% for reserva in reservas %}
    <div class="reserva">
        <h3>Reserva en {{ reserva.hotel_nombre }}</h3>
        <p>Descripción: {{ reserva.hotel_descripcion }}</p>
        <p>Dirección: {{ reserva.hotel_direccion }}, {{ reserva.hotel_ciudad }}, {{ reserva.hotel_pais }}</p>
        <p>Precio por noche: {{ reserva.hotel_precio }}</p>
        <p>Fecha de inicio: {{ reserva.fecha_inicio }}</p>
        <p>Fecha de fin: {{ reserva.fecha_fin }}</p>
        <p>Total: {{ reserva.total }}€</p>
        <p>Estado: {{ reserva.estado }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>No se encontraron reservas.</p>
{% endif %}
{% endblock %}
